body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.heads {
  text-align:center;
}
.form-fields {
  display:grid;
  justify-content:center;
  grid-template-columns: 50vw;
  grid-template-rows: 3vh;
  grid-gap: 2vh;
  margin:20px auto;
}
.input-username {
  grid-column:1;
  grid-row:1;
  min-width: 120px;
  max-width:200px;
  margin:auto;

}
.input-comment {
  margin:auto;
  grid-column: 1;
  grid-row:2;
  width: 45vw;
  margin:auto;
  height: max-content;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.submit-button {
  grid-column: 1;
  grid-row: 3;
  width:90px;
  margin:auto;
}
.contain-buttons {
  display:grid;
  justify-content:center;
}
.actual-post {
  grid-row:1;
  text-align:center;
}
.comment {
  grid-column: 1;
  grid-row:2;
  margin:auto;
  border: 1px solid black;
  box-shadow: 1px black;
  border-radius:3px;
  margin-right: 5px;
}
.crossmark {
  grid-column: 2;
  grid-row:2;
  height:95%;
  background : linear-gradient(to bottom, rgba(250, 145, 97, 0.7), rgba(247, 59, 28, 0.69));
  border-radius:5px;
  color:#fff;
  font-size: 80%;
  margin:auto;

}
