body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.heads {
  text-align:center;
}
.form-fields {
  display:grid;
  justify-content:center;
  grid-template-columns: 75vw;
  grid-template-rows: 3vh;
  grid-gap: 2vh;
  margin:20px auto;
}
.input-username {
  border: 1px solid #E1DFDF;
  box-shadow: 1px 1px 1px #E1DFDF;
  border-radius:3px;
  grid-column:1;
  grid-row:1;
  min-width: 120px;
  max-width:200px;
  margin:auto;
  padding:2px;

}
.input-post {
  border: 1px solid #E1DFDF;
  box-shadow: 1px 1px 1px #E1DFDF;
  border-radius:3px;
  margin:auto;
  grid-column: 1;
  grid-row:2;
  width: 45vw;
  margin:auto;
  height: max-content;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.submit-button {
  grid-column: 1;
  background : linear-gradient(to bottom, rgba(250, 145, 97, 0.7), rgba(247, 59, 28, 0.69));
  border-radius:5px;
  color:#fff;
  grid-row: 3;
  width:90px;
  margin:auto;
}
.contain-buttons {
  display:grid;
  grid-row-gap:5vh;
  justify-content:center;
  border: 0.5px solid black;
  border-radius:3px;
  background-color: #F0EFEF;
  margin:10px auto;
  padding:15px;
  width:70vw;
  box-shadow:1px 3px 3px #E1DFDF;
}
.actual-post {
  grid-row:1;
  text-align:center;
}
.comment {
  grid-row:2;
  margin:auto;
  height:45px;
  border: 1px solid black;
  box-shadow: 1px 2px 1px #E1DFDF;
  border-radius:3px;
  padding:2px;
  justify-content:center;
  resize:vertical;
}
.username {
  grid-row:3;
  margin:auto;
  border: 1px solid black;
  box-shadow: 1px 1px 1px #E1DFDF;
  border-radius:3px;
  padding:2px;
  justify-content:center;
}
.crossmark {
  grid-row:4;
  height:95%;
  background : linear-gradient(to bottom, rgba(250, 145, 97, 0.7), rgba(247, 59, 28, 0.69));
  border-radius:5px;
  color:#fff;
  font-size: 80%;
  margin:auto;
  justify-content:center;

}
.comment-input-container {
  display:grid;
  grid-row-gap:5px;
}
